html, body {
    margin: 0;
    padding: 0;
}

/* Header styling */
.header {
    background-color: #b81dd7;
    display: flex;
    height: 70px;
}

.title {
    width: 30%;
}

.title-text {
    color: rgb(255, 255, 255);
    justify-content: center;
    margin: 16px;  
}

.subtitle {
    width: 100%;
}

.ul-head {
    display: flex;
    justify-content: right;
    margin: 20px;
}

.a-head {
    text-decoration: none;
    color:#000000;
}

.a-head:hover {
    color: white;
}

.list-head {
    list-style-type: none;
    padding: 5px 10px;
    margin-left: 5px;
}

.list-head:hover{
    background-color: black;
    border-radius: 40px;
}